.menu_1{
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
}

.row_4{
    background-color: white;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex: 4;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
    overflow: auto;
}

.row_1{
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

.row_3{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px 15px 0px 0px;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex: 0.1;
    flex-direction: column;
    overflow: auto;
}

.guest{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 13px;
    margin: 10px;
    font-family: 'Hi Melody', cursive;
}

.guest_content{
    display: flex;
    flex-direction: row;
}

.guest_title{
    font-size: 15px;
    background-color: lightgray;
    margin-bottom: 8px;
    text-indent: 5px;
}

.name{
    color: blue;
    font-weight: bolder;
    font-size: 20px;
}

.guest_img{
    flex: 0 0 8rem;
    height: 8rem;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("./images/background1.jpg");
    background-size: cover;

    margin-right: 10px;
}

i{
    margin: 5px;
}