.miniroom {
    padding-bottom: 30px;
    border-radius: 15px;
    width: 90%;
    align-items: center;
}

.center{
    text-align: center;
}

.line{
    border-bottom: 1px solid lightgray;
    content: "";
    display: block;
    width: 100%;
    margin: auto
}

.underline{
    border-bottom: 1px dashed lightgray;
    content: "";
    display: block;
    width: 100%;
    margin: auto;
}

.home1{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid lightgray;
}

.home2{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: white;
    border-right: 1px solid lightgray;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.text-menu{
    color: rgb(65, 146, 251);
    font-weight: bold;
    font-size: 18px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_1{
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
}

.menu_2{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.row_3{
    background-color: white;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.row_4{
    background-color: white;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex: 5;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 0px 0px 15px 15px;
    border-top: none;
}

.row_1{
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

.row_2{
    background-color: white;
    display: flex;
    flex: 0.3;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px 15px 0px 0px;
    margin: 0px;
}